*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 900px;
  font-family: 'Poppins', sans-serif;
}

body{
  display: grid;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
  place-items: center;
  background: #606c38;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 200px;
}

table{
  padding: 20px 20px;
  margin: 170px auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: #fefae0;
  max-width: 1100px;
  border-style: transparent;
  border-radius: 5px;  
}

.head{
  background-color: #3c4323;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-style: solid;
  border: #3c4323;
  border-width: 1px;
}

tr{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-style:  solid;
  border-width: 1px;
}

.top{
  border-top-width: 0;
}
